@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Bitter:400,700);

html{	
	font-family: 'Open Sans', serif;
}
body{
	width: 85%;
	margin:auto;
}
h1{
	text-align: center;
}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}
#top{
	width:100%;
	z-index:10; 
}


