@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Bitter:400,700);
html{	
	font-family: 'Open Sans', serif;
}
body{
	width: 85%;
	margin:auto;
}
h1{
	text-align: center;
}
#top{
	/*position:fixed;*/
	width:100%;
	z-index:10; 
}
#timeline-container{
	padding:30px;
	border-top: 2px solid;	
	/*position:absolute;*/
	width:930px;
	margin:auto;	
}

.timeline-item{
	
	padding:10px;
	padding-top:20px;
	margin:auto;
	width:100%;
	border-bottom: solid 2px;
	display: inline-block;
}
#line{
	display:block;
	position:fixed;
	background:rgba(7, 7, 7, 0.7);
	bottom:0px;	
	width:930px;
	height:50px;
	margin:auto;
	padding:15px;
	padding-left: 30px;
	border-radius: 5px;
	z-index: 100;
}

ul.timeline{
	width:80%;
	display:block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

/*Timeline event dots*/
.timeline-event-dot{	
	border: 3px solid #AAA;
	width: 8px;
	height: 8px;
	display: block;
	left:-5px;	
	border-radius: 20px;
	-moz-border-radius: 20px;
	background-color: #FFF;
	cursor:pointer;
}


.timeline-event-dot-active{
	background-color:#AAA;
	/*border-color: black;*/
}
.timeline-event-dot-selected{
	background-color:#272722;
	border-color: #272722;
}
.timeline-label{
	width:80%;
	display:block;
	position: relative;
	margin-left: auto;
	margin-right: auto;


	font-size:8pt;
	color:white;		
	top:-8px;
}

/*
#line-container{
	width:60%;
	position:static;
	height:1px;
	margin:auto;
	bottom:15px;

	}*/
	#line-bg{
		width:80%;
		display:block;
		position: relative;
		margin-left: auto;
		margin-right: auto;
		padding-left: 18px;
		padding-right: 20px;
		top:25px;
		border-top: 3px solid #AAA;
	}

	.timeline-item-date{
		font-weight: 700;
		float:left;
		display:block;
		width:190px;
		position: relative;
	}
	.timeline-item-story-container{
		float:right;
		width:715px;
		display: block;
		/*position: absolute;*/
		position: relative;
		/*text-align: center;*/
		display: block;
		padding:2px;


	}
	.timeline-item-story{
		font-family: 'Bitter', serif;

	}
	.timeline-item-title{
		font-weight: 700;
		position: relative;
	}
	#button-container{
		/*width:80%;*/
		display:block;
		position: absolute;
		margin-left: auto;
		margin-right: auto;
		padding-left: 18px;
		padding-right: 20px;
		top:10px;	
		left: -6px;
	}
	#back-button, #forward-button{
		border: 1px solid #999;
		cursor: pointer;
		padding:6px 4px;
		color:white;
		margin-bottom:2px;
		/*margin:6px;*/
	}
	#back-button h4{
		background: url("arrow-left.gif") no-repeat scroll 100% 50% transparent;
		/*width: 26px;*/
		text-align: right;
		padding-right: 12px;
		margin:0px;
		font-size:12px;
	}
	#forward-button h4{
		background: url("arrow-right.gif") no-repeat scroll 100% 50% transparent;
		/*width: 26px;*/
		text-align: right;
		padding-right: 12px;
		margin:0px;
		/*font-weight: 400;*/
		font-size:12px;
	}
	footer{
		height:400px;
	}
